<!DOCTYPE html>
<html>
{{>head title=this.title subpage='Page X' }}

<body>
    {{>header  title=this.title}}

    <main>
        <H1>{{title}}</H1>
        <ol>
            {{#each product}}
            <li>
                <div>
                   <H2>{{Product_Code}}</H2>
                   <H2>{{Product_Name}}</H2>
                    <img height="100px" src="/{{ImgLink}}">
                    <H3>Giá: {{Price}}</H3>
                </div>
            </li>
            {{/each}}
        </ol>
    </main>
    

    {{>footer}}
</body>

</html>
